
.dcc .g_a3 {
	background: none repeat scroll 0 0 #CC6600;
	color: #FFFFFF;
}

.dcc .g_dysqs {
	background: none repeat scroll 0 0 #009900;
	color: #FFFFFF;
}

.dcc .g_sjb {
	background: none repeat scroll 0 0 #FFE000;
	color: #FFFFFF;
}

.dcc .g_jlbsjb {
	background: none repeat scroll 0 0 #CC9900;
	color: #FFFFFF;
}

.dcc .g_sjbyx {
	background: none repeat scroll 0 0 #660000;
	color: #FFFFFF;
}

.dcc .g_sqs {
	background: none repeat scroll 0 0 #339999;
	color: #FFFFFF;
}

.dcc .g_zj {
	background: none repeat scroll 0 0 #990000;
	color: #FFFFFF;
}

.dcc .g_zlb {
	background: none repeat scroll 0 0 #C94F1B;
	color: #FFFFFF;
}

.dcc .g_zc {
	background: none repeat scroll 0 0 #660000;
	color: #FFFFFF;
}

.dcc .g_dc {
	background: none repeat scroll 0 0 #006699;
	color: #FFFFFF;
}

.dcc .g_wj {
	background: none repeat scroll 0 0 #CCC700;
	color: #FFFFFF;
}

.dcc .g_ygb {
	background: none repeat scroll 0 0 #336699;
	color: #FFFFFF;
}

.dcc .g_yzb {
	background: none repeat scroll 0 0 #990000;
	color: #FFFFFF;
}

.dcc .g_yzb {
	background: none repeat scroll 0 0 #37BE5A;
	color: #FFFFFF;
}

.dcc .g_ygb {
	background: none repeat scroll 0 0 #00A653;
	color: #FFFFFF;
}

.dcc .g_ec {
	background: none repeat scroll 0 0 #6666FF;
	color: #FFFFFF;
}

.dcc .g_adlycjls {
	background: none repeat scroll 0 0 #FF7000;
	color: #FFFFFF;
}

.dcc .g_bly {
	background: none repeat scroll 0 0 #4B5553;
	color: #FFFFFF;
}

.dcc .g_kj {
	background: none repeat scroll 0 0 #663300;
	color: #FFFFFF;
}

.dcc .g_xyl {
	background: none repeat scroll 0 0 #3A571C;
	color: #FFFFFF;
}

.dcc .g_yys {
	background: none repeat scroll 0 0 #0E6C00;
	color: #FFFFFF;
}

.dcc .g_hpb {
	background: none repeat scroll 0 0 #663366;
	color: #FFFFFF;
}

.dcc .g_ttb {
	background: none repeat scroll 0 0 #996633;
	color: #FFFFFF;
}

.dcc .g_sj {
	background: none repeat scroll 0 0 #25155F;
	color: #FFFFFF;
}

.dcc .g_adlb {
	background: none repeat scroll 0 0 #C0C0C0;
	color: #FFFFFF;
}

.dcc .g_mxj {
	background: none repeat scroll 0 0 #5985D3;
	color: #FFFFFF;
}

.dcc .g_ay {
	background: none repeat scroll 0 0 #CC6699;
	color: #FFFFFF;
}

.dcc .g_aj {
	background: none repeat scroll 0 0 #663366;
	color: #FFFFFF;
}

.dcc .g_nsjb {
	background: none repeat scroll 0 0 #FF60AF;
	color: #FFFFFF;
}

.dcc .g_wesc {
	background: none repeat scroll 0 0 #006366;
	color: #FFFFFF;
}

.dcc .g_bj {
	background: none repeat scroll 0 0 #009900;
	color: #FFFFFF;
}

.dcc .g_bxb {
	background: none repeat scroll 0 0 #006633;
	color: #FFFFFF;
}

.dcc .g_xlj {
	background: none repeat scroll 0 0 #0066CC;
	color: #FFFFFF;
}

.dcc .g_dy {
	background: none repeat scroll 0 0 #AFA0DB;
	color: #FFFFFF;
}

.dcc .g_db {
	background: none repeat scroll 0 0 #AAAA00;
	color: #FFFFFF;
}

.dcc .g_dn {
	background: none repeat scroll 0 0 #009099;
	color: #FFFFFF;
}

.dcc .g_dgb {
	background: none repeat scroll 0 0 #669966;
	color: #FFFFFF;
}

.dcc .g_dj {
	background: none repeat scroll 0 0 #0B0BFF;
	color: #FFFFFF;
}

.dcc .g_dlb {
	background: none repeat scroll 0 0 #006600;
	color: #FFFFFF;
}

.dcc .g_yba {
	background: none repeat scroll 0 0 #33CCCC;
	color: #FFFFFF;
}

.dcc .g_ybb {
	background: none repeat scroll 0 0 #57BBFF;
	color: #FFFFFF;
}

.dcc .g_yy {
	background: none repeat scroll 0 0 #AC00DB;
	color: #FFFFFF;
}

.dcc .g_ydlb {
	background: none repeat scroll 0 0 #3E3E5B;
	color: #FFFFFF;
}

.dcc .g_ydlcjb {
	background: none repeat scroll 0 0 #3C3CFF;
	color: #FFFFFF;
}

.dcc .g_yj {
	background: none repeat scroll 0 0 #EA8F2B;
	color: #FFFFFF;
}

.dcc .g_xc {
	background: none repeat scroll 0 0 #81C0C0;
	color: #FFFFFF;
}

.dcc .g_nj {
	background: none repeat scroll 0 0 #D3A55F;
	color: #FFFFFF;
}

.dcc .g_nc {
	background: none repeat scroll 0 0 #006699;
	color: #FFFFFF;
}

.dcc .g_jkj {
	background: none repeat scroll 0 0 #A97A1B;
	color: #FFFFFF;
}

.dcc .g_sfk {
	background: none repeat scroll 0 0 #E3004A;
	color: #FFFFFF;
}

.dcc .g_sj {
	background: none repeat scroll 0 0 #6DA5A5;
	color: #FFFFFF;
}

.dcc .g_rbj {
	background: none repeat scroll 0 0 #336666;
	color: #FFFFFF;
}

.dcc .g_rbyjls {
	background: none repeat scroll 0 0 #22C126;
	color: #FFFFFF;
}

.dcc .g_rlb {
	background: none repeat scroll 0 0 #08855C;
	color: #FFFFFF;
}

.dcc .g_rbthb {
	background: none repeat scroll 0 0 #003306;
	color: #FFFFFF;
}

.dcc .g_rbthb {
	background: none repeat scroll 0 0 #009900;
	color: #FFFFFF;
}

.dcc .g_zj {
	background: none repeat scroll 0 0 #AABDD8;
	color: #FFFFFF;
}

.dcc .g_ogb {
	background: none repeat scroll 0 0 #666633;
	color: #FFFFFF;
}

.dcc .g_ozb {
	background: none repeat scroll 0 0 #CC9933;
	color: #FFFFFF;
}

.dcc .g_lj {
	background: none repeat scroll 0 0 #D7C684;
	color: #FFFFFF;
}

.dcc .g_by {
	background: none repeat scroll 0 0 #8A4835;
	color: #FFFFFF;
}

.dcc .g_blsb {
	background: none repeat scroll 0 0 #CC9900;
	color: #FFFFFF;
}

.dcc .g_bij {
	background: none repeat scroll 0 0 #CC6666;
	color: #FFFFFF;
}

.dcc .g_fy {
	background: none repeat scroll 0 0 #FF6600;
	color: #FFFFFF;
}

.dcc .g_fgb {
	background: none repeat scroll 0 0 #602D82;
	color: #FFFFFF;
}

.dcc .g_fgcjb {
	background: none repeat scroll 0 0 #128FCD;
	color: #FFFFFF;
}

.dcc .g_fj {
	background: none repeat scroll 0 0 #993333;
	color: #FFFFFF;
}

.dcc .g_flb {
	background: none repeat scroll 0 0 #6877CA;
	color: #FFFFFF;
}

.dcc .g_fl {
	background: none repeat scroll 0 0 #67B695;
	color: #FFFFFF;
}

.dcc .g_blj {
	background: none repeat scroll 0 0 #0084DB;
	color: #FFFFFF;
}

.dcc .g_hwb {
	background: none repeat scroll 0 0 #513888;
	color: #FFFFFF;
}

.dcc .g_aij {
	background: none repeat scroll 0 0 #9EEEEE;
	color: #FFFFFF;
}

.dcc .g_ac {
	background: none repeat scroll 0 0 #3399CC;
	color: #FFFFFF;
}

.dcc .g_rdj {
	background: none repeat scroll 0 0 #16A570;
	color: #FFFFFF;
}

.dcc .g_rdc {
	background: none repeat scroll 0 0 #996666;
	color: #FFFFFF;
}

.dcc .g_rdb {
	background: none repeat scroll 0 0 #004488;
	color: #FFFFFF;
}

.dcc .g_rsj {
	background: none repeat scroll 0 0 #998080;
	color: #FFFFFF;
}

.dcc .g_rsc {
	background: none repeat scroll 0 0 #666666;
	color: #FFFFFF;
}

.dcc .g_hjlsb {
	background: none repeat scroll 0 0 #A68E5E;
	color: #FFFFFF;
}

.dcc .g_lny {
	background: none repeat scroll 0 0 #CCA800;
	color: #FFFFFF;
}

.dcc .g_mzb {
	background: none repeat scroll 0 0 #FF3366;
	color: #FFFFFF;
}

.dcc .g_mz {
	background: none repeat scroll 0 0 #6600FF;
	color: #FFFFFF;
}

.dcc .g_mjb {
	background: none repeat scroll 0 0 #770088;
	color: #FFFFFF;
}

.dcc .g_lhb {
	background: none repeat scroll 0 0 #BD4FEC;
	color: #FFFFFF;
}

.dcc .g_lhh {
	background: none repeat scroll 0 0 #333399;
	color: #FFFFFF;
}

.dcc .g_lmb {
	background: none repeat scroll 0 0 #660000;
	color: #FFFFFF;
}

.dcc .g_ozcjb {
	background: none repeat scroll 0 0 #8EAD12;
	color: #FFFFFF;
}

.dcc .g_fc {
	background: none repeat scroll 0 0 #666699;
	color: #FFFFFF;
}

.dcc .g_sj {
	background: none repeat scroll 0 0 #996666;
	color: #FFFFFF;
}

.dcc .g_slb {
	background: none repeat scroll 0 0 #666699;
	color: #FFFFFF;
}

.dcc .g_sc {
	background: none repeat scroll 0 0 #339966;
	color: #FFFFFF;
}

.dcc .g_szzb {
	background: none repeat scroll 0 0 #41BE76;
	color: #FFFFFF;
}

.dcc .g_yingy {
	background: none repeat scroll 0 0 #6D5923;
	color: #FFFFFF;
}

.dcc .g_yg {
	background: none repeat scroll 0 0 #0000CC;
	color: #FFFFFF;
}

.dcc .g_yj {
	background: none repeat scroll 0 0 #999933;
	color: #FFFFFF;
}

.dcc .g_ylb {
	background: none repeat scroll 0 0 #464611;
	color: #FFFFFF;
}

.dcc .g_yglsqdb {
	background: none repeat scroll 0 0 #DCB352;
	color: #FFFFFF;
}

.dcc .g_yglzzb {
	background: none repeat scroll 0 0 #003366;
	color: #FFFFFF;
}

.dcc .g_yc {
	background: none repeat scroll 0 0 #FF0033;
	color: #FFFFFF;
}

.dcc .g_yf {
	background: none repeat scroll 0 0 #009973;
	color: #FFFFFF;
}

.dcc .g_hy {
	background: none repeat scroll 0 0 #5B1D85;
	color: #FFFFFF;
}

.dcc .g_hlb {
	background: none repeat scroll 0 0 #CC9999;
	color: #FFFFFF;
}

.dcc .g_hcjb {
	background: none repeat scroll 0 0 #FF2F73;
	color: #FFFFFF;
}

.dcc .g_hj {
	background: none repeat scroll 0 0 #666600;
	color: #FFFFFF;
}

.dcc .g_py {
	background: none repeat scroll 0 0 #003366;
	color: #FFFFFF;
}

.dcc .g_pc {
	background: none repeat scroll 0 0 #A2BC25;
	color: #FFFFFF;
}

.dcc .g_ptylsb {
	background: none repeat scroll 0 0 #CB194C;
	color: #FFFFFF;
}

.dcc .g_ptyb {
	background: none repeat scroll 0 0 #009966;
	color: #FFFFFF;
}

.dcc .g_ptycjb {
	background: none repeat scroll 0 0 #009966;
	color: #FFFFFF;
}

.dcc .g_xy {
	background: none repeat scroll 0 0 #DB00DB;
	color: #FFFFFF;
}

.dcc .g_xbyb {
	background: none repeat scroll 0 0 #009393;
	color: #FFFFFF;
}

.dcc .g_xbyb {
	background: none repeat scroll 0 0 #33BBCC;
	color: #FFFFFF;
}

.dcc .g_xbyb {
	background: none repeat scroll 0 0 #98CCFF;
	color: #FFFFFF;
}

.dcc .g_xj {
	background: none repeat scroll 0 0 #17FF8B;
	color: #FFFFFF;
}

.dcc .g_zxb {
	background: none repeat scroll 0 0 #006600;
	color: #FFFFFF;
}

.dcc .g_zzb {
	background: none repeat scroll 0 0 #9999CC;
	color: #FFFFFF;
}

.dcc .g_aj {
	background: none repeat scroll 0 0 #3399CC;
	color: #FFFFFF;
}

.dcc .g_qno {
	background: none repeat scroll 0 0 #996666;
	color: #FFFFFF;
}

.dcc .g_fzb {
	background: none repeat scroll 0 0 #666666;
	color: #FFFFFF;
}

.dcc .g_u20 {
	background: none repeat scroll 0 0 #3A5500;
	color: #FFFFFF;
}

.dcc .g_uzu20 {
	background: none repeat scroll 0 0 #3A794E;
	color: #FFFFFF;
}

.dcc .g_hk {
	background: none repeat scroll 0 0 #339933;
	color: #FFFFFF;
}

.dcc .g_gjs {
	background: none repeat scroll 0 0 #003333;
	color: #FFFFFF;
}

.dcc .g_gjzllhhb {
	background: none repeat scroll 0 0 #3A7500;
	color: #FFFFFF;
}

.dcc .g_jlbyys {
	background: none repeat scroll 0 0 #00A8A8;
	color: #FFFFFF;
}

.dcc .g_lj {
	background: none repeat scroll 0 0 #CCA800;
	color: #FFFFFF;
}

.dcc .g_tc {
	background: none repeat scroll 0 0 #FFCC66;
	color: #FFFFFF;
}

.dcc .g_obl {
	background: none repeat scroll 0 0 #8C8CFF;
	color: #FFFFFF;
}

.dcc .g_jfzb {
	background: none repeat scroll 0 0 #A414C1;
	color: #FFFFFF;
}

.dcc .g_qt {
	background: none repeat scroll 0 0 #336699;
	color: #FFFFFF;
}

#scrollWin.fixed {
	box-shadow: 1px 5px 8px #888888;
	position: fixed;
	top: 0;
	width: 230px;
	z-index: 999;
}

#scrollWin {
	background-color: #FFFFFF;
}

.md td {
	background: none repeat scroll 0 0 #ECECEC;
}

.fabg {
	background: url("../img/lot_fabg.gif") no-repeat scroll 0 0
		rgba(0, 0, 0, 0);
	float: left;
	height: 18px;
	line-height: 18px;
	margin-right: 5px;
	width: 18px;
}

.dcc ..tz {
	background: url("/style/img/lot_num_bg.gif") repeat scroll right bottom
		rgba(0, 0, 0, 0);
}

.jczq tr.c {
	border-bottom: 2px solid #FFFFFF;
}

.dcc ..s,.bf td {
	cursor: pointer;
	font-weight: 700;
	line-height: 24px;
	padding-left: 0;
	white-space: nowrap;
}

.dcc ..n {
	padding-left: 5px;
	text-align: left;
	white-space: nowrap;
}

.hide_next {
	cursor: pointer;
}

.dcc ..d {
	color: #B10000;
	line-height: 16px;
	white-space: nowrap;
}

.dcc ..a {
	cursor: pointer;
	line-height: 16px;
}

.dcc ..z {
	color: #FFFFFF;
}

.dcc ..data a {
	margin: 0 1px;
}

.dcc ..data a:link,.dcc ..data a:visited {
	color: #4F7AA6;
	text-decoration: underline;
}

.dcc ..z a:link,.dcc ..z a:visited {
	color: #FFFFFF;
}










