<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- t_mechanism_price : 机构定价关系表 mybatis 配置  -->
<mapper namespace="com.yile.micro.order.mapper.MechanismPriceMapper">

    <resultMap id="mechanismPriceResult" type="MechanismPrice">
        <result column="id" property="id" jdbcType="OTHER" />
        <result column="price_id" property="priceId" jdbcType="OTHER" />
        <result column="mechanism_id" property="mechanismId" jdbcType="OTHER" />
        <result column="create_time" property="createTime" jdbcType="OTHER" />
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="commonSelectColumnsPrefix">
	    <![CDATA[
	    select
        	id ,
        	price_id ,
        	mechanism_id ,
        	create_time 
	    ]]>
	</sql>

    <insert id="insert" parameterType="MechanismPrice" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO
        t_mechanism_price (
        	id ,
        	price_id ,
        	mechanism_id ,
        	create_time 
        ) VALUES (
        		#{id,jdbcType=BIGINT} ,
        		#{priceId,jdbcType=BIGINT} ,
        		#{mechanismId,jdbcType=BIGINT} ,
        		#{createTime,jdbcType=TIMESTAMP} 
        )
    ]]>

    </insert>

    <update id="update" parameterType="mechanismPrice">
    <![CDATA[
        UPDATE t_mechanism_price SET
        			price_id = #{priceId,jdbcType=BIGINT} ,
        			mechanism_id = #{mechanismId,jdbcType=BIGINT} ,
        			create_time = #{createTime,jdbcType=TIMESTAMP} 
        WHERE 
	        id = #{id} 
    ]]>
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
    <![CDATA[
        delete from t_mechanism_price where
        id = #{id} 
    ]]>
    </delete>
    
    <select id="queryById" resultMap="mechanismPriceResult" parameterType="java.lang.Long">
	    <include refid="commonSelectColumnsPrefix"/>
	    <![CDATA[
	        from t_mechanism_price 
	        where 
		        id = #{id} 
	    ]]>
    </select>

	<sql id="dynamicWhere">
		<where>
		     1=1
			<if test="id!=null">
				AND id = #{id}
			</if>
			<if test="priceId!=null">
				AND price_id = #{priceId}
			</if>
			<if test="mechanismId!=null">
				AND mechanism_id = #{mechanismId}
			</if>
			<if test="createTime!=null">
				AND create_time = #{createTime}
			</if>
		</where>
	</sql>
	 
    <select id="queryCount" parameterType="MechanismPrice" resultType="int">
    <![CDATA[
        select 
        count(*)
        from t_mechanism_price
    ]]>
		<include refid="dynamicWhere"/>    
    </select>  
    
    <select id="queryList" resultMap="mechanismPriceResult" parameterType="MechanismPrice">
    	<include refid="commonSelectColumnsPrefix"/>
	    <![CDATA[
	        from t_mechanism_price 
	    ]]>
	    <include refid="dynamicWhere"/>
    </select>
	
</mapper>
