<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- t_order_rel_rescues : 订单救援人员关系表 mybatis 配置  -->
<mapper namespace="com.yile.micro.order.mapper.OrderRelRescuesMapper">

    <resultMap id="orderRelRescuesResult" type="OrderRelRescues">
        <result column="id" property="id" jdbcType="OTHER" />
        <result column="order_id" property="orderId" jdbcType="OTHER" />
        <result column="rescues_id" property="rescuesId" jdbcType="OTHER" />
        <result column="rescues_status" property="rescuesStatus" jdbcType="OTHER" />
        <result column="create_time" property="createTime" jdbcType="OTHER" />
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="commonSelectColumnsPrefix">
	    <![CDATA[
	    select
        	id ,
        	order_id ,
        	rescues_id ,
        	rescues_status ,
        	create_time 
	    ]]>
	</sql>

    <insert id="insert" parameterType="OrderRelRescues" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO
        t_order_rel_rescues (
        	id ,
        	order_id ,
        	rescues_id ,
        	rescues_status ,
        	create_time 
        ) VALUES (
        		#{id,jdbcType=BIGINT} ,
        		#{orderId,jdbcType=BIGINT} ,
        		#{rescuesId,jdbcType=BIGINT} ,
        		#{rescuesStatus,jdbcType=VARCHAR} ,
        		#{createTime,jdbcType=TIMESTAMP} 
        )
    ]]>

    </insert>

    <update id="update" parameterType="orderRelRescues">
    <![CDATA[
        UPDATE t_order_rel_rescues SET
        			order_id = #{orderId,jdbcType=BIGINT} ,
        			rescues_id = #{rescuesId,jdbcType=BIGINT} ,
        			rescues_status = #{rescuesStatus,jdbcType=VARCHAR} ,
        			create_time = #{createTime,jdbcType=TIMESTAMP} 
        WHERE 
	        id = #{id} 
    ]]>
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
    <![CDATA[
        delete from t_order_rel_rescues where
        id = #{id} 
    ]]>
    </delete>
    
    <select id="queryById" resultMap="orderRelRescuesResult" parameterType="java.lang.Long">
	    <include refid="commonSelectColumnsPrefix"/>
	    <![CDATA[
	        from t_order_rel_rescues 
	        where 
		        id = #{id} 
	    ]]>
    </select>

	<sql id="dynamicWhere">
		<where>
		     1=1
			<if test="id!=null">
				AND id = #{id}
			</if>
			<if test="orderId!=null">
				AND order_id = #{orderId}
			</if>
			<if test="rescuesId!=null">
				AND rescues_id = #{rescuesId}
			</if>
			<if test="rescuesStatus!=null">
				AND rescues_status = #{rescuesStatus}
			</if>
			<if test="createTime!=null">
				AND create_time = #{createTime}
			</if>
		</where>
	</sql>
	 
    <select id="queryCount" parameterType="OrderRelRescues" resultType="int">
    <![CDATA[
        select 
        count(*)
        from t_order_rel_rescues
    ]]>
		<include refid="dynamicWhere"/>    
    </select>  
    
    <select id="queryList" resultMap="orderRelRescuesResult" parameterType="OrderRelRescues">
    	<include refid="commonSelectColumnsPrefix"/>
	    <![CDATA[
	        from t_order_rel_rescues 
	    ]]>
	    <include refid="dynamicWhere"/>
    </select>
	
</mapper>
