<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- t_order_project : 订单救援项目关系表 mybatis 配置  -->
<mapper namespace="com.yile.micro.order.mapper.OrderProjectMapper">

    <resultMap id="orderProjectResult" type="OrderProject">
        <result column="id" property="id" jdbcType="OTHER" />
        <result column="fk_order_rescue_id" property="fkOrderRescueId" jdbcType="OTHER" />
        <result column="rescue_project" property="rescueProject" jdbcType="OTHER" />
        <result column="create_time" property="createTime" jdbcType="OTHER" />
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="commonSelectColumnsPrefix">
	    <![CDATA[
	    select
        	id ,
        	fk_order_rescue_id ,
        	rescue_project ,
        	create_time 
	    ]]>
	</sql>

    <insert id="insert" parameterType="OrderProject" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO
        t_order_project (
        	id ,
        	fk_order_rescue_id ,
        	rescue_project ,
        	create_time 
        ) VALUES (
        		#{id,jdbcType=BIGINT} ,
        		#{fkOrderRescueId,jdbcType=BIGINT} ,
        		#{rescueProject,jdbcType=VARCHAR} ,
        		#{createTime,jdbcType=TIMESTAMP} 
        )
    ]]>

    </insert>

    <update id="update" parameterType="orderProject">
    <![CDATA[
        UPDATE t_order_project SET
        			fk_order_rescue_id = #{fkOrderRescueId,jdbcType=BIGINT} ,
        			rescue_project = #{rescueProject,jdbcType=VARCHAR} ,
        			create_time = #{createTime,jdbcType=TIMESTAMP} 
        WHERE 
	        id = #{id} 
    ]]>
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
    <![CDATA[
        delete from t_order_project where
        id = #{id} 
    ]]>
    </delete>
    
    <select id="queryById" resultMap="orderProjectResult" parameterType="java.lang.Long">
	    <include refid="commonSelectColumnsPrefix"/>
	    <![CDATA[
	        from t_order_project 
	        where 
		        id = #{id} 
	    ]]>
    </select>

	<sql id="dynamicWhere">
		<where>
		     1=1
			<if test="id!=null">
				AND id = #{id}
			</if>
			<if test="fkOrderRescueId!=null">
				AND fk_order_rescue_id = #{fkOrderRescueId}
			</if>
			<if test="rescueProject!=null">
				AND rescue_project = #{rescueProject}
			</if>
			<if test="createTime!=null">
				AND create_time = #{createTime}
			</if>
		</where>
	</sql>
	 
    <select id="queryCount" parameterType="OrderProject" resultType="int">
    <![CDATA[
        select 
        count(*)
        from t_order_project
    ]]>
		<include refid="dynamicWhere"/>    
    </select>  
    
    <select id="queryList" resultMap="orderProjectResult" parameterType="OrderProject">
    	<include refid="commonSelectColumnsPrefix"/>
	    <![CDATA[
	        from t_order_project 
	    ]]>
	    <include refid="dynamicWhere"/>
    </select>
	
</mapper>
